#container {
    margin: auto;
    text-align: center;
    width: 70%;
}

#footer {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    
}

a {
    background-color: black;
    text-decoration: none;
    padding: 1vw;
    color: white;
}

.header-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto;
    width: 40%;
    margin: auto;
}

.basic {
    background-color: black;
    color: rgb(0, 211, 0);
    padding: 1vw;
    border-radius: 1vw;
}

.intermediate {
    background-color: black;
    color: yellow;
    padding: 1vw;
    border-radius: 1vw;
}