body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Roboto';
}

h1 {
    font-size: 3rem;

}

h3 {
    font-size: 1rem;
    font-family: arial;
}

.title-card {
    text-align: center;
    width: 50%;
    margin: auto;
}

.project-showcase {
    position: relative;
    background-color: whitesmoke;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto;
    opacity: 0.9;
    margin: 5% 0;
    justify-content: space-around;
}

.project {
    display: block;
    height: 10rem;
    width: 20rem;
}

.container {
    position: relative;
    width: 100%;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.container:hover .overlay {
    opacity: 0.9;
}

.description {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.circle {
    background-color: black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin: 0.5rem;
    padding: 0.2rem;
  }

i {
    color: white;
    margin-top: 0.5vh;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.link-div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: space-between;
}

@media (max-width: 959px) {
    .project-showcase {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        opacity: 0.9;
        margin: auto;
        justify-content: space-around;
    }

    img {
        height: 10rem;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 0.8rem;
    }

    .overlay {
        display: none;
    }
}