body {
    height: 100%;
    width: 100%;
    background-image: url('./Images/Vector\ Modern\ Connected\ Lines\ Background\ White-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Bungee';
}

h1 {
    font-size: 10vh;
}

h3 {
    font-size: 2vh;
}

.title-card {
    text-align: center;
}

.project-showcase {
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    opacity: 0.9;
    margin: 10% auto;
    justify-content: center;
}

.project {
    display: block;
    height: 25vh;
    width: 30vw;
    margin: auto;
}

.container {
    position: relative;
    width: 30vw;
    padding: 2vw;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.container:hover .overlay {
    opacity: 0.9;
}

.description {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.link-div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: space-between;
}

.circle {
    background-color: black;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    margin: 1vh;
    
  }

i {
    color: white;
    margin-top: 1vh;
}

img {
    height: 100px;
    width: 100px;
}

.footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.9;
}

.footer-text {
    position: relative;
    justify-content: center;
    align-content: center;
}

